<html>
	<head></head>
	<body>
		<p> add a recipe </p>
		<form action="" method="POST">
			<!-- required for wtforms -->
			{{form.hidden_tag()}}
	        <p>
				{{form.title.label}}
				<br>
	        	{{form.title()}}
			</p>
	    
	        <p>
				{{form.description.label}}
				<br>
	        	{{form.description()}}
			</p>
	    
	        <p>
				{{form.ingredients.label}}
				<br>
	        	{{form.ingredients()}}
			</p>
	    
	        <p>
				{{form.instructions.label}}
				<br>
	        	{{form.instructions()}}
			</p>
	    
	        <p>{{form.submit()}}</p>
		</form>
		<a href = "{{url_for('index')}}"> cancel </a>
	</body>
</html>